.profileTitle {
    padding: 20px;
    font-size: 2rem;
    text-align: left;
}

.typingWrapper {
    white-space: pre;
    line-height: 1.5;
    font-size: 1rem;
}

.cursor {
    display: inline-block;
    width: 1ch;
    animation: blink 0.7s infinite;
    color: #f0e660;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}