.heroSection {
    height: 100vh;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.contentSection {
    padding: 50px;
    background: var(--base-background);
    font-size: 1.2rem;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--primary-color);
    /* Dark backdrop to enhance text */
}

.content {
    position: relative;
    z-index: 1;
    /* Above the background */
    padding: 40px;
    color: var(--white-color);
}