.footerButton {
    padding: 20px;
    ;
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.footerButton:hover {
    background-color: #3c4048;
    transform: translateY(-2px);
}

.footerButton:active {
    transform: translateY(1px);
}