.section {
    margin-bottom: 100px;
    padding: 0;
}

.stickyHeader {
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 15px;
    font-size: 2rem;
    border-bottom: 1px solid #ccc;
    text-align: left;
    font-weight: bold;
}

.content {
    padding: 20px;
}

.title {
    text-align: left;
    padding: 5px;
}

.institution {
    font-size: 1.4rem;
    font-weight: bold;
}

.duration {
    font-size: 1.2rem;
    color: #666;
}